<settings>
    <servers>
        <server>
            <id>ossrh</id>
            <username>${env.MAVEN_REPO_USERNAME}</username>
            <password>${env.MAVEN_REPO_PASSWORD}</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>release</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <gpg.executable>gpg</gpg.executable>
                <gpg.keyname>DBF0F18920DAB3377B638B5579288555449C57B1</gpg.keyname>	
            </properties>
        </profile>
    </profiles>
</settings>
